{% extends 'landing/base.html' %}

{% block content %}
    {% include 'landing/partials/hero.html' %}
    {% include 'landing/partials/stats.html' %}
    {% include 'landing/partials/solutions.html' %}
    {% include 'landing/partials/integrations.html' %}
    {% include 'landing/partials/features.html' %}
    {% include 'landing/partials/how-it-works.html' %}
    {% include 'landing/partials/pricing.html' %}
    {% include 'landing/partials/testimonials.html' %}
    {% include 'landing/partials/cta.html' %}
{% endblock %}
